/* @fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

/* base rules */
div.h-player,
div.h-player .h-player-media-wrapper {
    display: inline-block;
}
div.h-player {
    --h-color: 255, 255, 255;
}

/* Element: player-container */
div.h-player {
    position: relative;
    width: var(--h-width);
    height: var(--h-height);
}
div.h-player:fullscreen,
div.h-player:-webkit-full-screen,
div.h-player:-moz-full-screen,
div.h-player:-ms-fullscreen {
    width: 100%;
    height: 100%;
}

/* Element: video-wrapper */
div.h-player .h-player-media-wrapper {
    background-color: #000;
    width: 100%;
    height: 100%;
}
div.h-player .h-player-media-wrapper video {
    width: inherit;
    height: inherit;
    z-index: -1;
}

/* Element: player-controls */
div.h-player .h-player-controls {
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    transition: opacity 0.2s ease-in-out;
}
div.h-player .h-player-controls.hidden {
    opacity: 0;
    cursor: none;
}

/* Sub-element: playback-controls */
div.h-player-controls .h-playback-controls {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.h-playback-controls button {
    display: inline-block;
    background-color: transparent;
    color: rgb(var(--h-color));
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
}
.h-playback-controls button:hover {
    cursor: pointer;
}
.h-playback-controls button svg {
    color: inherit;
    width: 1em;
    height: 1em;
    font-size: 6em;
}
.h-playback-controls button.loading i {
    display: inline-block;
    margin: 0.3605em;
    width: 1em;
    height: 1em;
    font-size: calc(6em / 2);

    animation-timing-function: linear;
    animation-duration: 1.2s;
    animation-name: loading;
    animation-iteration-count: infinite;

    border: none;
    border-top: 0.35rem solid #fff;
    border-left: 0.35rem solid #fff;
    border-bottom: 0.35rem solid transparent;
    border-right: 0.35rem solid transparent;
    border-radius: 100%;
}
@keyframes loading {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* Element: main-controls */
div.h-player-controls .h-controls-container {
    display: inline-block;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 0 1em 0.6em 1em;
}
div.h-player-controls .h-controls-main {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
}
.h-controls-main div.h-controls-l-main,
.h-controls-main div.h-controls-r-main {
    display: flex;
}
.h-controls-main div.h-controls-l-main {
    margin: 0 0 0 0.2em;
    justify-content: flex-start;
}
.h-controls-main div.h-controls-r-main {
    margin: 0 0.2em 0 0;
    justify-content: flex-end;
}

/* Sub-element: seekbar-container */
div.h-player-controls .h-seekbar {
    display: flex;
    padding: 0 0 0.4em 0;
    justify-content: center;
}
div.h-player-controls .h-seekbar-container {
    display: inline-block;
    position: relative;
    background-color: rgba(var(--h-color), 0.25);
    width: 100%;
    height: 0.3em;
}
.h-seekbar-container div.h-seekbar-buffered {
    background-color: rgba(var(--h-color), 0.25);
    width: 0;
    height: 100%;
    pointer-events: none;
    z-index: -1;
}
.h-seekbar-container div.h-seekbar-fancy {
    position: absolute;
    background-color: rgb(var(--h-color));
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    pointer-events: none;
    z-index: 0;
}
.h-seekbar-container input.h-seekbar-input {
    display: inline-block;
    position: absolute;
    top: -0.4em;
    left: 0;
    margin: 0;
    padding: 0.4em 0;
    width: 100%;
    height: 100%;
    border: none;
    opacity: 0;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-progress-appearance: none;
}
.h-seekbar-container input.h-seekbar-input:hover {
    cursor: pointer;
}
.h-seekbar-container input.h-seekbar-input::-webkit-slider-thumb,
.h-seekbar-container input.h-seekbar-input::-moz-range-thumb,
.h-seekbar-container input.h-seekbar-input::-ms-thumb {
    width: 0;
    height: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-progress-appearance: none;
}

/* Sub-element: player-time */
div.h-player-controls .h-player-time-container {
    display: inline-flex;
    align-items: center;
}
.h-player-time-container div.h-player-time {
    color: rgb(var(--h-color));
    font-size: 1em;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

/* Sub-element: volume-controls */
div.h-player-controls .h-volume-controls {
    display: inline-flex;
    color: rgb(var(--h-color));
    margin: 0 0.4em;
    align-items: center;
}
.h-volume-controls button.h-volume-toggle {
    display: inline-block;
    background-color: transparent;
    color: rgb(var(--h-color));
    margin: 0;
    padding: 0;
    font-size: 1.4em;
    border: none;
    outline: none;
}
.h-volume-controls button svg {
    color: inherit;
    width: 1em;
    height: 1em;
    font-size: inherit;
}
.h-volume-controls button.h-volume-toggle:hover {
    cursor: pointer;
}

.h-volume-controls div.h-volume-input-container {
    background-color: rgba(var(--h-color), 0.25);
    position: relative;
    width: 5em;
    height: 0.3em;
    margin: 0 0.6em;
}
.h-volume-input-container div.h-volume-fancy {
    position: absolute;
    background-color: rgb(var(--h-color));
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    pointer-events: none;
    z-index: 0;
}
.h-volume-input-container input.h-volume-input {
    display: inline-block;
    position: absolute;
    top: -0.4em;
    left: 0;
    margin: 0;
    padding: 0.4em 0;
    width: 100%;
    height: 100%;
    border: none;
    opacity: 0;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-progress-appearance: none;
}
.h-volume-input-container input.h-volume-input:hover {
    cursor: pointer;
}
.h-volume-input-container input.h-volume-input::-webkit-slider-thumb,
.h-volume-input-container input.h-volume-input::-moz-range-thumb,
.h-volume-input-container input.h-volume-input::-ms-thumb {
    width: 0;
    height: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-progress-appearance: none;
}

/* Sub-element: fullscreen-handler */
div.h-player-controls .h-fullscreen-handler {
    display: inline-flex;
    color: rgb(var(--h-color));
}
.h-fullscreen-handler button.h-fullscreen-button {
    display: inline-block;
    background-color: transparent;
    color: rgb(var(--h-color));
    margin: 0;
    padding: 0;
    font-size: 1.6em;
    border: none;
    outline: none;
}
.h-fullscreen-handler button.h-fullscreen-button:hover {
    cursor: pointer;
}
.h-fullscreen-handler .h-fullscreen-button svg {
    color: inherit;
    width: 1em;
    height: 1em;
    font-size: inherit;
}

div.h-player svg {
    display: block;
}
